.poll-container {
	width: 1080px;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 6px;
	min-height: 653px;
}

.td-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 475px;
}
