nz-header {
	padding: 0;
	position: sticky;
	top: 0;
	z-index: 100;
	padding-bottom: 64px;
	box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
	display: flex;
}

.logo {
	transition: transform 250ms ease;
	transform: translateX(0px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;

	.logo-label {
		position: relative;
		display: block;
		z-index: 10;
		margin-top: -7px;
		margin-left: 57px;
		color: #009e49;
		white-space: nowrap;
		font-family: "uni-sans";
		font-size: 16px;
	}
}

nz-sider {
	box-shadow: 2px 0 6px rgb(0 0 0 / 35%);
	z-index: 1000;
	position: relative;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.header-menus {
	display: flex;
	margin-left: auto;
}

nz-divider {
	height: 30px;
	margin-top: 18px;
	border-left-width: 2px;
}
